

:root {
  --primary-color: #fff8e1;
  --secondary-color: #8b0000;
}
  
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .card {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100%; 
  }
  
  .card-img-top {
    max-height: 150px;
  }
  
  .btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: #800000;
    border-color: #800000;
    color: var(--primary-color);
  

  }